<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Utilities.ListenerForScreenshot"/>
        <listener class-name="Utilities.ListenerForExtentReport"/>
    </listeners>
    <test name="LoginTest">
        <classes>
            <class name="TestPage.SignUpTest"/>
            <class name="TestPage.LoginPageTest"/>
            <class name="TestPage.AddRecruitment"/>


        </classes>
    </test>
</suite>